/* Common rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bol-bottom_hover:#47adf1 ;
    --bol-editorial: #45abea;
    --bol-goals: #9c72e4;
    --bol-recruiting: #64c0a9;
    --bol-mobile: #f29e33;
    --bol-website: #d863a1;
    --bol-sales: #b0c926;
    --bol-lightgrey: #f6f8f9;
    --bol-light: white;
    --bol-redfalse: #ec746f;
    --bol-greentrue: #65c0a9;
    --bol-grey: #c5cbd0;
  }

  html{
    font-family: Arial, sans-serif;
    font-size: x-large;
    font-weight: bold;
  }

  body{
    background-color: var(--bol-lightgrey);
  }

  /* Utilities */

  .m_top_20{
    margin-top: 20px;
  }


/* header */
  #site_header{
    background-color: white;
  }

  .logo{
    width: 4%;
  }

  h1{
    display: inline;
    font-weight: bold;
    vertical-align:top;
  }

  /* Main */
  main{
    margin: auto;
    margin-top: 3rem;
    width: 70%;
  }


  .sezione_bottoni{
    background-color: var(--bol-light);
    padding: 1%;
    padding-top: 2%;
    padding-left: 5%;
    border-radius: 5px;
}
  .task_button{
    border-radius: 7px;
    padding: 10px;
    background-color: var(--bol-bottom_hover);
    border: none;
    color: var(--bol-light);
    font-size: medium;
    font-weight: bold;
  }

  .section_button{
    border-radius: 7px;
    padding: 10px;
    background-color: var(--bol-light);
    border-color: var(--bol-grey);
    border-style: solid;
    color: var(--bol-grey);
    font-size: medium;
    font-weight: bold;
  }

  .sezione_corpo{
    background-color: var(--bol-light);
    padding: 5rem;
    padding-top: 1rem;
    margin-top: 5px;
  }

  .arrow_down{
    font-size: large;

  }

  #circle{
    margin-left: -30px;
    font: size large;
  }

  .true_answer{
    color: var(--bol-greentrue);
    font-weight: bold;
    margin-left: 20px;
  }

  .false_answer{
    color: var(--bol-redfalse);
    font-weight: bold;
    margin-left: 20px;
  }

  .genere{
    border-radius: 12px;
    color: var(--bol-light);
    padding: 9px;
    font-size: medium;
  }

  #editorial{
    background-color: var(--bol-editorial);
  }

  #goals{
    background-color: var(--bol-goals);
  }

  #recruiting{
    background-color: var(--bol-recruiting);
  }

  #mobile{
    background-color: var(--bol-mobile);
  }

  #sales{
    background-color: var(--bol-sales);
  }

  #website{
    background-color: var(--bol-website);
  }